# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\中公\JavaServlet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
